@model IEnumerable<mvc_MilesTracker.Models.Auto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAuto</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <td>Name</td>
                <td>Miles</td>
            </tr>

    @foreach (mvc_MilesTracker.Models.Auto item in ViewData.Model)
    {
        <tr>
            <td><a href="~/Home/DisplayGas?AutoID=@item.AutoNumber">@item.AutoName</a></td>
            <td><a href="~/Home/AddGas?AutoID=@item.AutoNumber">Add</a></td>
        </tr>
         
    }
        </table>
   </div>
    <br />
    <a href="~/Home/AddAuto">Add</a> New Auto
</body>
</html>
