@model IEnumerable<mvc_MilesTracker.Models.Gas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayGas</title>
</head>
<body>
    <div>
        
        <h1> </h1>

        @foreach (mvc_MilesTracker.Models.Gas item in Model)
        {
            <span>Miles: @item.Miles Gallons: @item.Gallons</span><br />
        }
        <br />
        <a href="~/Home/DisplayAuto">Back To Auto.</a>

    </div>
</body>
</html>
